/* Базовые настройки для всех вариантов */
.stat-display-container {
    display: flex;
    width: 100%;
    align-items: baseline;
}
.stat-display-heading {
    white-space: nowrap;
}
.stat-display-value {
    width: 2em;
    display: flex;
    justify-content: center;
}
.stat-display-container .filling-dots {
    margin: 0 0.5em;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
}

/* Basic (по умолчанию) */
.stat-display--basic {
    /* width обязательно для всех вариантов, иначе ломаются точки */
    width: 100%; 
    font-size: 1.65em;
}
.stat-display--basic .filling-dots {
    font-size: 75%;
}

/* Small (уменьшенный и прозрачный) */
.stat-display--small {
    width: 75%;
    font-size: 1.25em;
    opacity: 0.66;
}
.stat-display--small .filling-dots {
    font-size: 66%;
}

@media (max-width: 1200px) {
    .stat-display--basic {
        font-size: 1.5em;
    }
}
@media (max-width: 1083px) {
    .stat-display--basic {
        font-size: 1.4em;
    }
}
@media (max-width: 1005px) {
    .stat-display--basic {
        font-size: 1.3em;
    }
}
@media (max-width: 935px) {
    .stat-display--basic {
        font-size: 1.2em;
    }
}
@media (max-width: 883px) {
    .stat-display--basic {
        font-size: 1.1em;
    }
    .stat-display--small {
        font-size: 1.1em;
    }
}
@media (max-width: 782px) {
    .stat-display--basic {
        font-size: 1em;
    }
    .stat-display--small {
        font-size: 1em;
    }
}
@media (max-width: 720px) {
    .stat-display--basic {
        font-size: 0.9em;
    }
}