.filling-dots {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
}

.filling-dots::before {
    content: '........................................................................................................................................................................................................................................................................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    letter-spacing: 0.15em;
}