.stat-block {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    gap: 10em;
}

@media (max-width: 1200px) {
  .stat-block {
    gap: 5em;
  }
}
@media (max-width: 720px) {
  .stat-block {
    align-items: center;
    flex-direction: column;
    gap: 3em;
  }
}