.total-stats {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-top: 2.5em;
}
.total-stats * {
   margin-bottom: 5px;
   width: 100%;
}

@media (max-width: 720px) {
    .total-stats {
        margin-top: 0;
    }
}