.circular-percentage-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-percentage-container *:last-child {
    position: absolute;
}

.circular-percentage-container svg {
    overflow: visible;
}

@media (max-width: 883px) {
    .circular-percentage-container svg {
        width: 95%;
    }
}