footer {
    float: inline-end;
    opacity: 0.75;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    width: 372px;
    line-height: 1;
    margin: 7.5em 0  0.5em 0;
}

footer a,
footer a:visited
footer a:hover {
    opacity: 0.75;
    color: white;
}

@media (max-width: 1500px) {
    footer {
        margin-top: 1em;
    }
}
@media (max-width: 720px) {
    footer {
        font-size: 1em;
        width: 298px;
    }
}

.link-pointers-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 5%;
    left: 0;
}
.link-pointers-container * {
    margin-inline: 5%;
}