.solved-failed-tasks-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

@media (max-width: 720px) {
    .solved-failed-tasks-wrapper {
        margin-top: 0em;
    }
}