.time-counter {
    font-size: 4.5em;
}

@media (max-width: 1005px) {
    .time-counter {
        font-size: 4em;
    }
}
@media (max-width: 883px) {
    .time-counter {
        font-size: 3.5em;
    }
}
@media (max-width: 782px) {
    .time-counter {
        font-size: 3em;
    }
}
@media (max-width: 661px) {
    .time-counter {
        font-size: 2.5em;
    }
}