.time-counter {
    font-size: 4.5em;
}

@media (max-width: 1005px) {
    .time-counter {
        font-size: 4em;
    }
}
@media (max-width: 883px) {
    .time-counter {
        font-size: 3.5em;
    }
}