header {
    margin-top: 2.5em;
    width: 50vw;
    font-size: 1.8em;
}
header h1 {
    margin-top: 0;
}

@media (max-width: 1082px) {
    header {
        font-size: 1.5em;
    }
}
@media (max-width: 902px) {
    header {
        font-size: 1.3em;
    }
}
@media (max-width: 781px) {
    header {
        font-size: 1.1em;
    }
}
@media (max-width: 661px) {
    header {
        font-size: 0.9em;
    }
}
@media (max-width: 541px) {
    header {
        font-size: 0.7em;
    }
}
@media (max-width: 421px) {
    header {
        font-size: 0.52em;
    }
}